h1{
    padding-top: 30px;
    font-family: Amiri, serif;
    color: #7a7a7a;
    text-align: center;
}

canvas {
    box-shadow: 10px 10px 25px #bababa;
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 35px;

}
html{
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}
body {
    background-color: #d8d8d8;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
}

.card {
    box-shadow: 10px 10px 25px #bababa;
    padding: 50px;
    margin: 50px auto;
    background-color: white;
    border-radius: 15px;
    max-width: 1200px;
}